<div class="header">
  <%= render "shared/devise_header" %>
</div>

<%# header下線 %>
<div class="header-border">
</div>
<%# /header下線 %>

<div class="devise-body">  
  <%= render partial: 'shared/error_messages', locals: { model: resource } %>
  <div class="devise-main">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name,  class: "devise-form"%>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "devise-form" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",  class: "devise-form" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "devise-form" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "devise-submit" %>
      </div>
    <% end %>
  </div>
</div>

<div class="footer">
  <%= render "shared/devise_footer" %>
</div>