<div class="l-body">  
  <div class="header">
    <%= render "shared/header" %>
  </div>
  <%= render partial: "shared/category_list", locals: {categories: @categories} %>

  <div class="book-show main">
    <%# 基本情報 %>
    <%= render partial: "shared/book_info", locals: {book: @book} %>    
    <%# /基本情報 %>

    <div class="introduce-main-form">
      <%= form_with model: @introduce, url: book_introduces_path, local: true do |f|%>
        <div class="introduce-form-box">
          <div class="introduce-guide">
            タイトル
          </div>
          <div class="introduce-form">
            <%= f.text_field :title, class: "introduce-text-field" %>
          </div>
        </div>
        
        <div class="introduce-form-box">
          <div class="introduce-guide">
            紹介文
          </div>
          <div class="introduce-form">
            <%= f.text_area :content, class: "introduce-text-area" %>
          </div>
        </div>

        <%= f.submit "登録" %>
      <% end %>
      <div class="back-to-show">
        <%= link_to "戻る", book_path(@book) %>
      </div>
    </div>
  </div>

  <div class="footer">
    <%= render "shared/footer" %>
  </div>
</div>