<div class="book-show-upper split">
  <div class="upper-left">
    <div class="show-book-img">
      <%= link_to book_path(book) do %>
        <% if book.image.attached? %>
          <div class="info-image">
            <span class="info-category-name"><%= book.category.name %></span>
            <%= image_tag book.image.variant(resize: '300x300') %>
          </div>
        <% else %>
          <div class="no-image">
            No Image
            <span class="info-category-name"><%= book.category.name %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# 星評価 %>
  <div class="star-box">
    <% if rate.present? %>
      <div class="stars" data-rate="<%= rate %>">
      </div>
    <% end %>
  </div>
  <%# /星評価 %>

  <div class="upper-right">
    <div class="show-book-title">
      <dl>
        <dt>
          タイトル
        </dt>
        <dd>
          <span><%= book.title %></span>
        </dd>
      </dl>
    </div>
    <div clas="show-book-writer">
      <dl>
        <dt>
          著者
        </dt>
        <dd>
          <span><%= book.writer %></span>
        </dd>
      </dl>
    </div>
    <div class="publish">
      <dl>
        <dt>
          発行会社
        </dt>
        <dd>
          <span><%= book.publish.strftime('%Y/%m/%d') %></span>
        </dd>
      </dl>
    </div>

    <div class="info-link-to">
      <% if book.acts.present? %>
        <div class="link-to-act-index info-link">
          <%= link_to "この本のAct一覧", acts_path %>
        </div>
      <% end %>

      <div class="new-act-link info-link">
        <%= link_to "Actを作成する", new_act_path(book_id: book.id) %>
      </div>

      <% if @exist != true %>
        <div class="link-to-new-introduce info-link">
          <%= link_to "紹介文を作成する", new_book_introduce_path(book) %>
        </div>
      <% end %>
    </div>
  </div>
</div>