<div class="l-body">  
  <div class="header">
    <%= render "shared/header" %>
  </div>
   
  <%# header下線 %>
  <div class="header-border">
  </div>
  <%# /header下線 %>

  <%# 開閉メニュー %>
  <%= render partial: "shared/category_list", locals: {categories: @categories} %>
  <%# /開閉メニュー %>

  <div class="main-footer">
    <div class="main book-form-main">
      <div class="new-book-title">
        <span>本の登録</span>
      </div>
      <%= form_with url: books_path, method: :post, local: true, class: " book-new-form-main" do |f| %>
        <div class="book-form-contens">

        
          <div class="book-form-box book-new-form-box">
            <div class="book-form-guide book-new-guide">
              本のタイトル
            </div>
            <div class="book-form book-new-form">
              <%= f.text_field :title, class: "new-book-form", value: "#{@book.title}" %>
            </div>
          </div>
        
          <div class="book-form-box book-new-form-box">
            <div class="book-form-guidee book-new-guide">
              著者
            </div>
            <div class="book-form book-new-form">
              <%= f.text_field :writer, class: "new-book-form", value: "#{@book.writer}" %>
            </div>
          </div>
      
          <div class="book-form-box book-new-form-box">
            <div class="book-form-guidee book-new-guide">
              出版社
            </div>
            <div class="book-form book-new-form">
              <%= f.text_field :company, class: "new-book-form", value: "#{@book.company}" %>
            </div>
          </div>  
      
          <div class="book-form-box book-new-form-box">
            <div class="book-form-guidee book-new-guide">
              発行日
            </div>
            <div class="book-form book-new-form">
              <%= f.date_select(
                :publish,
                use_month_numbers: true,
                end_year: (Time.now.year),
                default: Date.new(1980,1,1),
                date_separator: '/'
                ) 
              %>
            </div>
          </div>  

          <div class="book-form-box book-new-form-box">
            <div class="book-form-guidee book-new-guide">
              カテゴリー
            </div>
            <div class="book-form book-new-form">
              <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: '---'})%>
            </div>
          </div>

          <div class="book-form-box book-new-form-box">
            <div class="book-form-guidee book-new-guide">
              画像
            </div>
            <div class="book-form book-new-form">
              <%= f.file_field :image, id:"item-image", class:"item-image" %>
            </div>
          </div>  
          
          <div class="book-new-submit">
            <%= f.submit "登録", class: "make-book-submit" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="footer">
      <%= render "shared/footer" %>
    </div>
  </div>
</div>