<div class="l-body">  
  <div class="header">
    <%= render "shared/header" %>
  </div>
  <%= render partial: "shared/category_list", locals: {categories: @categories} %>

  <div class="main book-form-main">
    <%= form_with model:@book, url: books_path, method: :post, local: true do |f| %>
      <div class="book-form-contens">
      
        <div class="book-form-box">
          <div class="book-form-guide">
            本のタイトル
          </div>
          <div class="book-form">
            <%= f.text_field :title, class: "new-book-form" %>
          </div>
        </div>
      
        <div class="book-form-box">
          <div class="book-form-guide">
            著者
          </div>
          <div class="book-form">
            <%= f.text_field :writer, class: "new-book-form" %>
          </div>
        </div>
     
        <div class="book-form-box">
          <div class="book-form-guide">
            出版社
          </div>
          <div class="book-form">
            <%= f.text_field :company, class: "new-book-form" %>
          </div>
        </div>  
     
        <div class="book-form-box">
          <div class="book-form-guide">
            発行日
          </div>
          <div class="book-form">
            <%= f.date_select(
              :publish,
              use_month_numbers: true,
              end_year: (Time.now.year),
              default: Date.new(1980,1,1),
              date_separator: '/'
              ) 
            %>
          </div>
        </div>  

        <div class="book-form-box">
          <div class="book-form-guide">
            カテゴリー
          </div>
          <div class="book-form">
            <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: '---'} )%>
          </div>
        </div>

        <div class="book-form-box">
          <div class="book-form-guide">
            画像
          </div>
          <div class="book-form">
            <%= f.file_field :image, id:"item-image", class:"item-image" %>
          </div>
        </div>  

        <%= f.submit "作成" %>
      </div>
    <% end %>
  </div>

  <div class="footer">
    <%= render "shared/footer" %>
  </div>
</div>