<div class="l-body">  
  <div class="header">
    <%= render "shared/header" %>
  </div>

  <%# 開閉メニュー %>
  <%= render partial: "shared/category_list", locals: {categories: @categories} %>
  <%# /開閉メニュー %>

  <div class="main-footer">
    <div class="book-show main distinction">
      <%# 基本情報 %>
      <%= render partial: "shared/book_info", locals: {book: @book, rate: @rate,  existAct: @existAct, exist: @exist} %>    
      <%# /基本情報 %>

      <div class="act-main-form view-right-side split">
        <div class="act-main-title">  
          Act
        </div>
        <%= form_with model: @act, url: book_act_path(@book, @act), method: :patch, local: true, class:"form" do |f|%>
          <%= f.text_field :book_id, value: @book.id, class: "hidden" %>        
          <div class="act-form-box">
            <div class="act-guide">
              Sentence
            </div>
            <div class="act-form">
              <%= f.text_area :content, class: "act-text-field" %>
            </div>
          </div>

          <div class="act-form-box">
            <div class="act-guide">
              Page
            </div>
            <div class="act-form">
              <%= f.text_field :page, class: "act-page" %>
            </div>
          </div>
          
          <div class="act-form-box">
            <div class="act-guide">
              Point
            </div>
            <div class="act-form">
              <%= f.text_area :point, class: "act-text-field" %>
            </div>
          </div>
          
          <div class="act-form-box">
            <div class="act-guide">
              Action
            </div>
            <div class="act-form">
              <%= f.text_area :act, class: "act-text-field" %>
            </div>
          </div>

          <div class="act-form-submit">
            <%= f.submit "登録" ,class: "act-submit" %>
          </div>
        <% end %>

        <div class="link-to-back">
          <%= link_to "戻る", book_act_path(@book, @act)%>
        </div>
      </div>
    </div>

    <div class="footer">
      <%= render "shared/footer" %>
    </div>
  </div>
</div>