<div class="l-body">  
  <div class="header">
    <%= render "shared/header" %>
  </div>
  <%= render partial: "shared/category_list", locals: {categories: @categories} %>

  <div class="main act-main">
    <div class="act-index">
      <% if current_user.acts.present? %>
        <table>
          <tbody>
            <tr>
              <th class="title-side">
                <span>本のタイトル<span>
              </th>
              <th class="sentence-side">
                <span>sentence</span>
              </th>
            <tr>
            <% current_user.acts.each do |act| %>
              <tr class="act-table-list">
                <td class="act-index-content title-side">
                  <%= link_to book_path(act.book) do %>
                    <div class="act-table-th">
                      <span><%= act.book.title %></span>
                    </div>
                  <% end %>
                </td>
                <td class="act-index-content sentence-side">
                  <div class="act-index-content">
                    <%= link_to act_path(act, book_id: act.book) do %>
                      <div class="act-table-td">
                        <span><%= act.content %></span>
                      </div>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          <tbody>
        </table>
      <% else %>
        <div class="act-none">
          <span>登録されているActがありません</span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="footer">
    <%= render "shared/footer" %>
  </div>
</div>